n8n/workflows/exported_all.json
[{"updatedAt":"2025-12-30T12:34:50.249Z","createdAt":"2025-12-30T12:34:50.249Z","id":"7HHua0ODg2L9fv3P","name":"Zalo Token Auto-Refresh","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"messenger","options":{}},"id":"867a43a5-18b0-4339-8d71-50ae559a7ba0","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-640,-144],"webhookId":"2bde79fb-8fcb-466a-81d2-6162b4fb1d1b"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.body.object }}","value2":"page"}]}},"id":"8b818c23-efd5-499d-9075-2d061f3fc47b","name":"Is Page Event?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-448,-144]},{"parameters":{"jsCode":"// Extract messaging events from webhook\nconst entry = $input.first().json.body.entry[0];\nconst pageId = entry.id;\nconst messaging = entry.messaging || [];\n\nreturn messaging.map(event => ({\n  json: {\n    pageId,\n    senderId: event.sender?.id,\n    recipientId: event.recipient?.id,\n    timestamp: event.timestamp,\n    message: event.message,\n    postback: event.postback\n  }\n}));"},"id":"6a3df412-d94c-4a4a-a141-d7dad8954204","name":"Extract Messages","type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,-144]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.senderId }}","operation":"equals","value2":"={{ $env.FB_ADMIN_PSID }}"}]}},"id":"e327262e-8e5a-4370-a62a-08253ad6f775","name":"Is Admin?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-48,-144]},{"parameters":{"method":"POST","url":"http://api:8000/admin/handover","options":{}},"id":"5d16de39-a539-4474-b63e-ddfad46901a7","name":"Set Admin Handover","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[160,-256]},{"parameters":{"url":"http://api:8000/webhook/check-handover","options":{}},"id":"f0332e25-8339-4039-bc3f-af1cf5c2be1f","name":"Check Handover Status","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[160,-48]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.is_paused }}","value2":true}]}},"id":"d9b06243-f356-4818-8d2f-f84a829973e0","name":"Is Bot Paused?","type":"n8n-nodes-base.if","typeVersion":1,"position":[368,-48]},{"parameters":{"method":"POST","url":"http://api:8000/chat/debounce","options":{}},"id":"32b6a7d0-2948-4f32-9872-4dd5733da8a8","name":"Add to Debounce Buffer","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[560,48]},{"parameters":{},"id":"906da423-7457-4900-8586-c523a3f63105","name":"Bot Paused (No-Op)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[560,-144]},{"parameters":{"httpMethod":"POST","path":"send-response","options":{}},"id":"54941abf-ac96-46c8-bd11-0f5789279284","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-944,384],"webhookId":"bbc2a933-163d-4b9d-97ee-63fb07df78cc"},{"parameters":{"jsCode":"// Parse response parts from AI\nconst data = $input.first().json.body;\nconst parts = data.response_parts || [];\nconst userId = data.user_id;\nconst products = data.products || [];\n\nreturn parts.map((text, index) => ({\n  json: {\n    userId,\n    text,\n    index,\n    isLast: index === parts.length - 1,\n    products: index === parts.length - 1 ? products : []\n  }\n}));"},"id":"3edc3029-77be-43e3-9785-40d4e3a5efe3","name":"Parse Response Parts","type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,384]},{"parameters":{"options":{}},"id":"d8d5c081-2a5d-4769-b198-b93148140f4b","name":"Loop Over Parts","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-544,384]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v18.0/me/messages","options":{}},"id":"5354323a-39de-4407-bc32-bf0ffc12c26d","name":"Show Typing","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-336,384]},{"parameters":{"amount":"={{ Math.floor(Math.random() * 2000) + 1500 }}","unit":"milliseconds"},"id":"fc9b4c2a-5160-438b-a0d2-d3a14f4ece8c","name":"Random Delay","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-144,384],"webhookId":"e55f7a63-7265-4df5-92f0-873734025d57"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v18.0/me/messages","options":{}},"id":"1e54fee9-aeef-4ad7-8591-af7241adafdf","name":"Send Text","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[64,384]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.isLast && $json.products.length > 0 }}","value2":true}]}},"id":"e94a3aea-f6aa-4404-8b32-91009169c02d","name":"Has Products?","type":"n8n-nodes-base.if","typeVersion":1,"position":[272,384]},{"parameters":{"jsCode":"// Prepare product images to send\nconst products = $input.first().json.products;\nconst userId = $input.first().json.userId;\n\nreturn products.filter(p => p.image_url).map(product => ({\n  json: {\n    userId,\n    imageUrl: product.image_url,\n    productName: product.name\n  }\n}));"},"id":"997a9052-ee7e-4995-a2bf-66a4f97684b0","name":"Prepare Products","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,272]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v18.0/me/messages","options":{}},"id":"b37fb9cd-3064-4ec1-9173-68595823b392","name":"Send Product Image","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[672,272]},{"parameters":{},"id":"83d5969b-09e5-4265-9369-75ed24e591df","name":"Continue Loop","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[464,480]},{"parameters":{"rule":{"interval":[{"daysInterval":25}]}},"id":"bb6e2a75-5fda-495a-bb6d-4c254388e93d","name":"Every 25 Days","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-528,896]},{"parameters":{"method":"POST","url":"https://oauth.zaloapp.com/v4/oa/access_token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"refresh_token","value":"={{ $env.ZALO_REFRESH_TOKEN }}"},{"name":"app_id","value":"={{ $env.ZALO_APP_ID }}"},{"name":"grant_type","value":"refresh_token"}]},"options":{}},"id":"8cb185aa-41d4-4e4d-bab7-71f0a332bc93","name":"Refresh Zalo Token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-336,896]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.access_token ? true : false }}","value2":true}]}},"id":"98155149-1913-4ac4-9420-5ecc459a38df","name":"Token Received?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-128,896]},{"parameters":{"jsCode":"// Log the new tokens\nconst newAccessToken = $input.first().json.access_token;\nconst newRefreshToken = $input.first().json.refresh_token;\nconst expiresIn = $input.first().json.expires_in;\n\nconsole.log(`New Access Token: ${newAccessToken.substring(0, 20)}...`);\nconsole.log(`Expires in: ${expiresIn} seconds`);\n\n// TODO: In production, update these in your secret store\n// Options:\n// 1. Update environment variable via n8n API\n// 2. Store in Redis/Database\n// 3. Update AWS Secrets Manager / HashiCorp Vault\n\nreturn [{\n  json: {\n    status: 'success',\n    access_token: newAccessToken,\n    refresh_token: newRefreshToken,\n    expires_in: expiresIn,\n    refreshed_at: new Date().toISOString()\n  }\n}];"},"id":"8eb3be41-3d5d-4aa5-a9ec-c45c674e09ce","name":"Process New Token","type":"n8n-nodes-base.code","typeVersion":2,"position":[64,784]},{"parameters":{"method":"POST","url":"http://api:8000/admin/update-zalo-token","options":{}},"id":"8fa406d0-1d84-4d9e-afda-2ee86258bc1a","name":"Update API Service","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[272,784]},{"parameters":{},"id":"ca25af12-66ef-4aa4-9049-0f7fd203ff1e","name":"Log Success","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[464,784]},{"parameters":{"jsCode":"// Token refresh failed\nconst error = $input.first().json;\n\nconsole.error('Zalo token refresh failed:', JSON.stringify(error));\n\n// TODO: Send alert to admin via Telegram/Slack/Email\n\nreturn [{\n  json: {\n    status: 'error',\n    error: error,\n    failed_at: new Date().toISOString()\n  }\n}];"},"id":"6550823c-6b0d-42df-b485-1ec8e27abeeb","name":"Handle Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[64,992]}],"connections":{"Webhook":{"main":[[{"node":"Is Page Event?","type":"main","index":0}]]},"Is Page Event?":{"main":[[{"node":"Extract Messages","type":"main","index":0}]]},"Extract Messages":{"main":[[{"node":"Is Admin?","type":"main","index":0}]]},"Is Admin?":{"main":[[{"node":"Set Admin Handover","type":"main","index":0}],[{"node":"Check Handover Status","type":"main","index":0}]]},"Check Handover Status":{"main":[[{"node":"Is Bot Paused?","type":"main","index":0}]]},"Is Bot Paused?":{"main":[[{"node":"Bot Paused (No-Op)","type":"main","index":0}],[{"node":"Add to Debounce Buffer","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Parse Response Parts","type":"main","index":0}]]},"Parse Response Parts":{"main":[[{"node":"Loop Over Parts","type":"main","index":0}]]},"Loop Over Parts":{"main":[[{"node":"Show Typing","type":"main","index":0}]]},"Show Typing":{"main":[[{"node":"Random Delay","type":"main","index":0}]]},"Random Delay":{"main":[[{"node":"Send Text","type":"main","index":0}]]},"Send Text":{"main":[[{"node":"Has Products?","type":"main","index":0}]]},"Has Products?":{"main":[[{"node":"Prepare Products","type":"main","index":0}],[{"node":"Continue Loop","type":"main","index":0}]]},"Prepare Products":{"main":[[{"node":"Send Product Image","type":"main","index":0}]]},"Send Product Image":{"main":[[{"node":"Continue Loop","type":"main","index":0}]]},"Continue Loop":{"main":[[{"node":"Loop Over Parts","type":"main","index":0}]]},"Every 25 Days":{"main":[[{"node":"Refresh Zalo Token","type":"main","index":0}]]},"Refresh Zalo Token":{"main":[[{"node":"Token Received?","type":"main","index":0}]]},"Token Received?":{"main":[[{"node":"Process New Token","type":"main","index":0}],[{"node":"Handle Error","type":"main","index":0}]]},"Process New Token":{"main":[[{"node":"Update API Service","type":"main","index":0}]]},"Update API Service":{"main":[[{"node":"Log Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":{"node:Every 25 Days":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"c4c1039f-f53f-47a5-9982-4615e48c8adb","activeVersionId":"c4c1039f-f53f-47a5-9982-4615e48c8adb","versionCounter":4,"triggerCount":3,"tags":[],"shared":[{"updatedAt":"2025-12-30T12:34:50.249Z","createdAt":"2025-12-30T12:34:50.249Z","role":"workflow:owner","workflowId":"7HHua0ODg2L9fv3P","projectId":"CQ8K2nAiUkitKdXQ","project":{"updatedAt":"2025-12-30T12:28:35.832Z","createdAt":"2025-12-30T12:27:20.962Z","id":"CQ8K2nAiUkitKdXQ","name":"Vu Duc <mrduc2266@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"86559242-9471-4959-baa1-3f6c86fd4cc4"}}]}]